<form #form="ngForm" (ngSubmit)="form.valid && verifyTotp(code.value)" novalidate>
  <div>
    <h1>Two-Step Verification</h1>

    <p>Enter the 6-digit code from your authenticator app into the code field</p>

    <label for="code">Code</label>
    <div>
      <input
        #code="ngModel"
        id="code"
        maxlength="6"
        minlength="6"
        name="code"
        ngModel
        pInputText
        pKeyFilter="pint"
        required
      />
      @if (form.submitted && code.invalid) {
        <div class="input-error">
          @if (code.errors?.['required']) {
            <span>Code is mandatory</span>
          }
          @if (code.errors?.['minlength']) {
            <span>Code must be exactly 6 digits</span>
          }
          @if (code.errors?.['maxlength']) {
            <span>Code must be exactly 6 digits</span>
          }
        </div>
      }
    </div>

    <button pButton type="submit">Verify</button>
  </div>
</form>
