<form #form="ngForm" (ngSubmit)="form.valid && verifyTotp(code.value)" novalidate>

  <div>
    <h1>Two-Step Verification</h1>

    <p>Enter the 6-digit code from your authenticator app into the code field</p>

    <label for="code">Code</label>
    <div>
      <input #code="ngModel" autofocus
             id="code" maxlength="6"
             minlength="6" name="code"
             ngModel
             pInputText
             pKeyFilter="pint"
             required/>
      <div *ngIf="form.submitted && code.invalid" class="input-error">
        <span *ngIf="code.errors.required">Code is mandatory</span>
        <span *ngIf="code.errors.minlength">Code must be exactly 6 digits</span>
        <span *ngIf="code.errors.maxlength">Code must be exactly 6 digits</span>
      </div>
    </div>

    <button label="Verify" pButton type="submit"></button>
  </div>
</form>
