<form #form="ngForm" (ngSubmit)="form.valid && signup(username.value, password.value, totp.value)"
      [ngFormOptions]="{updateOn: 'submit'}" novalidate>

  <div>
    <h1>Sign Up</h1>

    <label for="username">Username</label>
    <div>
      <input #username="ngModel" autocapitalize="off" autocomplete="username" autofocus
             id="username" name="username"
             ngModel pInputText
             required
             spellcheck="false"/>
      <div *ngIf="form.submitted && username.invalid" class="input-error">
        <span *ngIf="username.errors.required">Username is mandatory</span>
      </div>
      <div *ngIf="submitError" class="input-error">
        <span *ngIf="submitError === 'usernameTaken'">Username already registered</span>
      </div>
    </div>

    <label for="password">Password</label>
    <div>
      <input #password="ngModel"
             autocomplete="new-password"
             id="password"
             minlength="8"
             name="password"
             ngModel pInputText required
             type="password"/>

      <div *ngIf="form.submitted && password.invalid" class="input-error">
        <span *ngIf="password.errors.required">Password is mandatory</span>
        <span *ngIf="password.errors.minlength">Minimum length is 8 characters</span>
      </div>
      <div *ngIf="submitError" class="input-error">
        <span *ngIf="submitError === 'weakPassword'">Weak password</span>
      </div>
    </div>

    <div></div>
    <div>
      <p-checkbox #totp="ngModel" [binary]="true" id="totp" name="totp" ngModel></p-checkbox>
      <label for="totp" style="margin-left: 10px;">Enable Two-factor authentication</label>
    </div>
    <button label="Sign Up" pButton type="submit"></button>
  </div>
</form>





