<form
  #form="ngForm"
  (ngSubmit)="
    form.valid && signup(username.value, password.value, passwordConfirmation.value, totp.value)
  "
  [ngFormOptions]="{updateOn: 'submit'}"
  novalidate
>
  <div>
    <h1>Sign Up</h1>

    <label for="username">Username</label>
    <div>
      <input
        #username="ngModel"
        autocapitalize="off"
        autocomplete="username"
        id="username"
        maxlength="255"
        name="username"
        ngModel
        required
        spellcheck="false"
      />
      @if (form.submitted && username.invalid) {
        <div class="input-error">
          @if (username.errors?.['required']) {
            <span>Username is mandatory</span>
          }
        </div>
      }
      @if (submitError() === 'usernameTaken') {
        <div class="input-error">
          <span>Username already registered</span>
        </div>
      }
    </div>

    <label for="password">Password</label>
    <div>
      <input
        #password="ngModel"
        autocomplete="new-password"
        id="password"
        maxlength="256"
        minlength="8"
        name="password"
        ngModel
        required
        type="password"
      />

      @if (form.submitted && password.invalid) {
        <div class="input-error">
          @if (password.errors?.['required']) {
            <span>Password is mandatory</span>
          }
          @if (password.errors?.['minlength']) {
            <span>Minimum length is 8 characters</span>
          }
        </div>
      }
      @if (submitError() === 'weakPassword') {
        <div class="input-error">
          <span>Weak password</span>
        </div>
      }
    </div>

    <label for="passwordConfirmation">Confirm password</label>
    <div>
      <input
        #passwordConfirmation="ngModel"
        autocomplete="new-password"
        id="passwordConfirmation"
        maxlength="256"
        minlength="8"
        name="passwordConfirmation"
        ngModel
        required
        type="password"
      />
      @if (form.submitted && passwordConfirmation.invalid) {
        <div class="input-error">
          @if (passwordConfirmation.errors?.['required']) {
            <span>Password confirmation is mandatory</span>
          }
          @if (passwordConfirmation.errors?.['minlength']) {
            <span>Minimum length is 8 characters</span>
          }
        </div>
      }
      @if (submitError() === 'passwordMismatch') {
        <div class="input-error">Passwords do not match</div>
      }
    </div>

    <div></div>
    <div>
      <input #totp="ngModel" id="totp" name="totp" ngModel type="checkbox" />
      <label for="totp" style="margin-left: 10px">Enable Two-factor authentication</label>
    </div>
    <button [disabled]="submitting()" type="submit">Sign Up</button>
  </div>
</form>
