<form #form="ngForm" (ngSubmit)="form.valid && signup(username.value, password.value, totp.value)"
      [ngFormOptions]="{updateOn: 'submit'}" novalidate>

  <div>
    <h1>Sign Up</h1>

    <label for="username">Username</label>
    <div>
      <input #username="ngModel" autocapitalize="off" autocomplete="username"
             id="username" name="username"
             ngModel pInputText
             required
             spellcheck="false"/>
      @if (form.submitted && username.invalid) {
        <div class="input-error">
          @if (username.errors?.['required']) {
            <span>Username is mandatory</span>
          }
        </div>
      }
      @if (submitError) {
        <div class="input-error">
          @if (submitError === 'usernameTaken') {
            <span>Username already registered</span>
          }
        </div>
      }
    </div>

    <label for="password">Password</label>
    <div>
      <input #password="ngModel"
             autocomplete="new-password"
             id="password"
             minlength="8"
             name="password"
             ngModel pInputText required
             type="password"/>

      @if (form.submitted && password.invalid) {
        <div class="input-error">
          @if (password.errors?.['required']) {
            <span>Password is mandatory</span>
          }
          @if (password.errors?.['minlength']) {
            <span>Minimum length is 8 characters</span>
          }
        </div>
      }
      @if (submitError) {
        <div class="input-error">
          @if (submitError === 'weakPassword') {
            <span>Weak password</span>
          }
        </div>
      }
    </div>

    <div></div>
    <div>
      <p-checkbox #totp="ngModel" [binary]="true" id="totp" name="totp" ngModel></p-checkbox>
      <label for="totp" style="margin-left: 10px;">Enable Two-factor authentication</label>
    </div>
    <button label="Sign Up" pButton type="submit"></button>
  </div>
</form>





