<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
<style>
th,td {
	padding: 5;
}

th {
	text-align: left
}

.errormsg {
    color: red;
    font-weight: bold;
}
</style>
</head>

<body onload="document.f.username.focus();">
	<h3>Login with Username, Password and Google Authenticator</h3>

    <form name="f" th:action="@{/login}" action="/login" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		
		<fieldset>
			<legend>Please Login</legend>

            <p th:if="${param.logout}">You have been logged out</p>
            <p th:if="${param.error}" class="errormsg">There was an error, please try again</p>
            
            <table>
              <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" id="username" name="username" /></td>
              </tr>
              <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" name="password" /></td>
              </tr>
              <tr>
                <td><label for="totpkey">Authenticator Code</label></td>
                <td><input type="text" id="totpkey" name="totpkey" /></td>
              </tr>
              <tr>
                <td><label for="remember-me">Remember Me?</label></td>
                <td><input type="checkbox" id="remember-me" name="remember-me" /></td>
              </tr>
            </table>

			<div>
				<button type="submit">Log in</button>
			</div>
		</fieldset>
	</form>

	<p>
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>Password</th>
				<th>Secret</th>
				<th>QR Code</th>
				<th>Failed logins</th>
				<th>Locked out until</th>
				<th>Expiration date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>admin</td>
				<td>admin</td>
				<td>IB6EFEQKE7U2TQIB</td>
				<td><img alt="IB6EFEQKE7U2TQIB" src="qrcode/admin.png" width="200" height="200" /></td>
				<td th:text="${adminFailedLogins}"></td>
				<td th:text="${adminLockedOut}"></td>
				<td th:text="${adminExpirationDate}"></td>
			</tr>
			<tr>
				<td>user</td>
				<td>user</td>
				<td>BPPGGZTFHRWDUA67</td>
				<td><img alt="IB6EFEQKE7U2TQIB" src="qrcode/user.png" width="200" height="200" /></td>
				<td th:text="${userFailedLogins}"></td>
				<td th:text="${userLockedOut}"></td>
				<td th:text="${userExpirationDate}"></td>
			</tr>
			<tr>
				<td>lazy</td>
				<td>lazy</td>
				<td></td>
				<td></td>
				<td th:text="${lazyFailedLogins}"></td>
				<td th:text="${lazyLockedOut}"></td>
				<td th:text="${lazyExpirationDate}"></td>				
			</tr>			
		</tbody>
	</table>
    </p>
    
</body>
</html>