<form #form="ngForm" (ngSubmit)="form.valid && verifyTotpAdditionalSecurity(code1.value, code2.value, code3.value)"
      [ngFormOptions]="{updateOn: 'submit'}" novalidate>

  <div>
    <h1>Additional Security Verification</h1>
    <p class="input-error">You entered an invalid security code.</p>
    <p>Enter three consecutive codes from your authenticator app into the fields below</p>

    <label for="code1">1st Code </label>
    <div>
      <input #code1="ngModel"
             id="code1" maxlength="6"
             minlength="6" name="code1"
             ngModel
             pInputText
             pKeyFilter="pint"
             required/>
      @if (form.submitted && code1.invalid) {
        <div class="input-error">
          @if (code1.errors?.['required']) {
            <span>1st Code is mandatory</span>
          }
          @if (code1.errors?.['minlength']) {
            <span>1st Code must be exactly 6 digits</span>
          }
          @if (code1.errors?.['maxlength']) {
            <span>1st Code must be exactly 6 digits</span>
          }
        </div>
      }
    </div>

    <label for="code2">2nd Code </label>
    <div>
      <input #code2="ngModel"
             id="code2" maxlength="6"
             minlength="6" name="code2"
             ngModel
             pInputText
             pKeyFilter="pint"
             required/>
      @if (form.submitted && code2.invalid) {
        <div class="input-error">
          @if (code2.errors?.['required']) {
            <span>2nd Code is mandatory</span>
          }
          @if (code2.errors?.['minlength']) {
            <span>2nd Code must be exactly 6 digits</span>
          }
          @if (code2.errors?.['maxlength']) {
            <span>2nd Code must be exactly 6 digits</span>
          }
        </div>
      }
    </div>

    <label for="code3">3rd Code </label>
    <div>
      <input #code3="ngModel"
             id="code3" maxlength="6"
             minlength="6" name="code3"
             ngModel
             pInputText
             pKeyFilter="pint"
             required/>
      @if (form.submitted && code3.invalid) {
        <div class="input-error">
          @if (code3.errors?.['required']) {
            <span>3rd Code is mandatory</span>
          }
          @if (code3.errors?.['minlength']) {
            <span>3rd Code must be exactly 6 digits</span>
          }
          @if (code3.errors?.['maxlength']) {
            <span>3rd Code must be exactly 6 digits</span>
          }
        </div>
      }
    </div>

    <button label="Verify" pButton type="submit"></button>
  </div>
</form>

